<div id="flight_list">
	{{#each flights}}
	<div id="{{flightNumber}}" class="flight">
		<time>{{time}}</time>
		<div cass="name">{{departureTime}}</div>
		<div cass="number">{{flightNumber}}</div>
		<div cass="terminal">{{arrivalAirportFsCode}}</div>
		<div cass="status">{{flightEquipmentIataCode}}</div>
	</div>
	{{/each}}
</div>